PORT=Your_desired_port_here
CLIENT_URL=Your_client_URL,separated_by_commas_if_multiple

MONGO_URI=Your_MongoDB_URI_here

ACCESS_TOKEN_SECRET=Your_access_token_secret_here
REFRESH_TOKEN_SECRET=Your_refresh_token_secret_here

NODE_ENV=Your_environment_here_(e.g., development, production)

CLOUDINARY_NAME=Your_Cloudinary_name_here
CLOUDINARY_KEY=Your_Cloudinary_key_here
CLOUDINARY_SECRET=Your_Cloudinary_secret_here