PORT=Your_desired_port_here
CLIENT_URLS=Your_client_URL,separated_by_commas_if_multiple
MONGO_URI=Your_MongoDB_URI_here

ACCESS_TOKEN_SECRET=Your_access_token_secret_here
REFRESH_TOKEN_SECRET=Your_refresh_token_secret_here

NODE_ENV=Your_environment_here_(e.g., development, production)