.sidebar-nav {
  width: 100%;
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-link {
  padding: 0.75rem 0.5rem;
  border-radius: 0.25rem;
  height: 40px;
  color: var(--text);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.nav-link:hover,
.nav-link:active {
  background: var(--link-nav-bg-hover);
}

.link-title-open {
  text-wrap: nowrap;
  margin-left: 1rem;
  width: 100%;
  opacity: 1;
  transition:
    opacity 0.3s ease,
    width 0.3s ease,
    margin-left 0.3s ease;
}

.link-title-close {
  text-wrap: nowrap;
  width: 0;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    width 0.3s ease,
    margin-left 0.3s ease;
}
